<h1> Chats Log </h1>
  <%= search_form_for @search do |f| %>
    <div class="form-group">
      <%= f.label :message_cont, "Search Message" %>
      <%= f.text_field :message_cont %>
      <%= f.submit "Search" %>
    </div>
  <% end %>
    <div class="container">
      <%= paginate @chats %>

      <ul class="nav nav-tabs">
        <div class="btn-group btn-group-toggle">
          <li class="nav-item">
            <%= search_form_for @search do |f| %>
              <%= f.hidden_field :message_cont, value: "" %>
              <%= f.submit "All", :class => "btn btn-dark" %>
              <% end %>
          </li>
          <% @chat_rooms.each do |chat_room| %>
            <% ref = "#tab_" + chat_room.name %>
            <li class="nav-item">
              <%= search_form_for @search do |f| %>
                <%= f.hidden_field :chat_room_id_eq, value: chat_room.id %>
                <%= f.submit chat_room.name, :class => "btn btn-dark" %>
              <% end %>
            </li>
          <% end %>
        </div>
      </ul>

      <div class="table-responsive">
        <table class="table table-dark table-borderless table-hover table-sm">
          <thead>
            <tr>
              <th class="col-md-2"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% date,date2=nil %>
            <% @chats.each_with_index do |chat, idx| %>
              <% if idx == 0 %>
                <% date = simple_time2(chat.created_at) %>
                <tr>
                  <td class="date-font" colspan="2"> <%= "<-- " + date + " -->" %>
                </tr>
              <% else %>
                <% date2 = simple_time2(chat.created_at) %>
                <% if date != date2 %>
                  <tr>
                    <td class="date-font" colspan="2"> <%= "<-- " + date2 + " -->" %>
                  </tr>
                <% end %>
                <% date = date2 %>
              <% end %>
              <tr>
                <% chat_room = @chat_rooms.find(chat.chat_room_id) %>
                <% user = @users.find(chat.user_id) %>
                <td class="time-font"> <%= simple_time(chat.created_at) %> </td>
                <% if chat.user_id == current_user.id %>
                  <td class="my-font">
                    <%= link_to "[" + chat_room.name + "]", chat_room_path(chat_room.id), :style=>"color:lime;" %>
                    <%= "<" + user.name + "> " %>
                    <%= link_to chat.message, chat_path(chat.id), :style=>"color:lime;" %>
                <% else %>
                  <td class="others-font">
                    <%= link_to "[" + chat_room.name + "]", chat_room_path(chat_room.id), :style=>"color:aqua;" %>
                    <%= "<" + user.name + "> " %>
                    <%= link_to chat.message, chat_path(chat.id), :style=>"color:aqua;" %>
                <% end %>
                  </td>
             <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <br>
