
<h1> Chat Log </h1>
    <div class="container">
      <div class="table-responsive">
        <table class="table table-dark table-bordered table-hover table-lg">
          <thead>
            <tr>
              <th>Room</th>
              <th>Message</th>
              <th>User</th>
              <th>Posted_at</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% chat_room = @chat_rooms.find(@chat.chat_room_id) %>
              <td class="date-font"><%= link_to chat_room.name, chat_room_path(chat_room.id), :style=>"color:white;" %></td>
              <td class="date-font"><%= @chat.message %></td>
              <td class="date-font">
                <% user = @users.find(@chat.user_id) %>
                <%= user.name %>
              </td>
              <td class="date-font"> <%= simple_time3(@chat.created_at) %> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <br>

<a class="btn btn-danger btn-block" href="/chats/<%= @chat.id %>" data-method="delete" data-confirm="Are you sure?">Destroy</a>
<a class="btn btn-light btn-block" href="/chats">Back</a>
<br>
