<p id="notice"><%= notice %></p>

<h1>Strokes</h1>

<table>
  <thead>
    <tr>
      <th>Chat room</th>
      <th>X</th>
      <th>Y</th>
      <th>Rgb</th>
      <th>Px</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strokes.each do |stroke| %>
      <tr>
        <td><%= stroke.chat_room_id %></td>
        <td><%= stroke.x %></td>
        <td><%= stroke.y %></td>
        <td><%= stroke.rgb %></td>
        <td><%= stroke.px %></td>
        <td><%= link_to 'Show', stroke %></td>
        <td><%= link_to 'Edit', edit_stroke_path(stroke) %></td>
        <td><%= link_to 'Destroy', stroke, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stroke', new_stroke_path %>
