<!DOCTYPE html>
<html>
  <head>
    <title>SugChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
    <table align="left" border width="200">
            <%= render 'layouts/chat_rooms' %>
    </table>
    <table align="right" border height="500" width="300">
      <tr>
        <td height="500">
          <% if @chat_room %>
            <%= render "layouts/drawings" %>
          <% end %>
        </td>
      </tr>
    </table>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
